<h1>OUR JOURNAL APP</h1>

<div id='post-index'></div>

<script>
 $(function() { 
    var posts = new JournalApp.Collections.Posts();
    var view = new JournalApp.Views.PostsIndex({
      collection: posts
    });
    $('#post-index').html(view.$el);
    posts.fetch({
      success: function () {
        view.render();
      }
    });
  });
</script>