
<div id="container">
<header>Journal App</header>
<div id="sidebar">asdf</div>

<div id="journal-app"></div>


</div>
<script>
  // $(function() {
 //    posts = new JournalApp.Collections.Posts();
 //    view = new JournalApp.Views.PostsIndex({
 //      collection: posts
 //    });
 //    $('#post-index').html(view.$el);
 //    posts.fetch({
 //      success: function () {
 //        view.render();
 //      }
 //    });
 //  })
</script>