<h1>OUR JOURNAL APP</h1>
<div id="journal-app">
 


</div>





<script>
  // $(function() {
 //    posts = new JournalApp.Collections.Posts();
 //    view = new JournalApp.Views.PostsIndex({
 //      collection: posts
 //    });
 //    $('#post-index').html(view.$el);
 //    posts.fetch({
 //      success: function () {
 //        view.render();
 //      }
 //    });
 //  })
</script>