
<ul>
  
<% posts.forEach(function(post){ %>
  <li><a href="#posts/<%= post.get('id') %>"><%= post.escape('title') %></a>
    <button class='delete-button' data-id="<%= post.id %>">Delete</button>
  </li>
<% }); %>

</ul>

<a href='#posts/new'>NEW Post</a>